@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Oswald", sans-serif;
  margin: 0px;
  padding: 0px;
  color: white;
  overflow-x: hidden;
}
ul {
  padding: 0px;
}
/* Navbar Styling */
ul,
li {
  display: flex;
  justify-content: center;
}
li a {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
  width: 70px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}
.navbar-image {
  height: 50px;
  margin-left: 30px;
}
.image-navbar {
  position: absolute;
  left: 10px;
}
.container-navbar {
  position: relative;
  z-index: 4;
  left: 0px;
  right: 0px;
  top: 0px;
}
/* Animated Navbar */
.animated-navbar {
  animation: animation-navbar 1s;
}
/* SCROLLED NAVBAR STYLING  */
.scrolled-navbar {
  position: fixed;
  box-shadow: 0px 3px 20px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.blacktext {
  color: black;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  animation: opacity 300ms;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation-navbar {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0px);
  }
}
/* Finished Navbar Styling */
/* Header Styling */
header {
  height: 100vh;
  position: relative;
  top: 0px;
  right: 0px;
  left: 0%;
  top: -114px;
}

.title {
  font-weight: 800;
  font-size: 40px;
  position: relative;
  top: 30%;
  text-align: center;
}
.title h3 {
  margin-top: -50px;
  margin-bottom: 0px;
}
.bg-image {
  margin-left: 0px;
  width: 100%;
  height: 100vh;
  filter: brightness(60%) contrast(100%);
  position: absolute;
  z-index: -99;
}
.info-button {
  width: 200px;
  height: 50px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  animation: buttonUpDown 3s infinite;
}
.info-button:hover {
  transform: scale(1.2);
  background: #ffffff;
  box-shadow: 7px 7px 14px #d4d4d4, -7px -7px 14px #e2e7ff;
  cursor: pointer;
  animation: none;
}
.info-button:active {
  transform: scale(1);
}
/* About us section */
section {
  padding: 40px;
  height: auto;
  color: black;
  position: relative;
  bottom: 30px;
  z-index: 7;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.us {
  margin-bottom: 30px;
}
.icon-content {
  text-align: center;
  width: 140px;
  margin: auto;
  margin-top: 0px;
}
.icon-bg {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}
.primary {
  background-color: rgba(93, 238, 255, 0.6);
}
.purple {
  background-color: rgba(110, 26, 255, 0.6);
}
.success {
  background-color: rgba(0, 0, 0.6);
}
.danger {
  background-color: rgba(255, 40, 40, 0.6);
}
.success img {
  width: 70px;
  position: absolute;
  top: -6%;
  left: 28%;
}
.legion {
  position: relative;
}

.icon-parent {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.us {
  text-align: center;
}

.introduce {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 13px;
  text-align: center;
}

.logo-image {
  grid-area: 1 / 1 / 2 / 2;
}
.text-fill {
  grid-area: 1 / 2 / 2 / 3;
  text-align: start;
}

.rounded img {
  border-radius: 50%;
  width: 50%;
  justify-content: center;
}
/* BU Aulia Section */
.buAulia {
  height: auto;
  position: relative;
  margin-top: -5px;
}
.text-center {
  text-align: center;
}
.column {
  padding-top: 70px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: end;
}
.text-buaul {
  text-align: left;
}
.foto-bu-aul {
  grid-area: 1 / 2 / 2 / 3;
}
.text-buaul {
  grid-area: 1 / 1 / 2 / 2;
}
/* Member Classes Section */
.member {
  margin-top: 150px;
  height: auto;
}
.member h1.text-center {
  font-size: 50px;
}
.cardname {
  width: 250px;
  height: 440px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 10px 20px #aaaaaa, -10px -10px 20px #b6b6b6;
  border-radius: 20px;
  position: relative;
  text-align: center;
  margin: auto;
}

.descriptionList {
  display: flex;
  position: absolute;
  right: 5px;
  left: 5px;
}
.descriptionList li {
  text-align: center;
  width: 66px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  line-height: 0px;
}
.description {
  line-height: 10px;
  font-weight: 300;
}
p.caption {
  font-size: 15px;
  margin-top: 5px;
  font-weight: 300;
  color: grey;
}
.description {
  margin-top: 100px;
}
.contact {
  display: flex;
}
.contact-flex {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 30px;
}

.cardname img.profilepicture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-top: -30px;
}
.icon {
  width: 45px;
  height: 45px;
  margin: auto;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 20px;
}
.clicky {
  transform: scale(1);
}
.wa,
.ig,
.github,
.gmail {
  transition: 150ms;
}
.wa:hover,
.ig:hover,
.github:hover,
.gmail:hover {
  transform: scale(1.1);
}
.wa:hover {
  background-color: rgba(0, 255, 105, 1);
  box-shadow: 0px 0px 12px 2px rgba(0, 255, 68, 1);
}
.ig:hover {
  background: linear-gradient(90deg, rgba(245, 255, 0, 1) 0%, rgba(239, 0, 150, 1) 100%);
  box-shadow: 0px 0px 10px 2px rgba(239, 0, 151, 1);
}
.github:hover {
  background-color: rgb(209, 209, 209);
  box-shadow: 0px 0px 10px 2px rgba(214, 214, 214, 1);
}
.gmail:hover {
  background-color: rgb(177, 0, 0);
  box-shadow: 0px 0px 10px 2px rgba(161, 0, 0, 1);
}
.card-parent {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(1, 0.5fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.card1 {
  grid-area: 1 / 1 / 2 / 2;
}
.card2 {
  grid-area: 1 / 2 / 2 / 3;
}
.card3 {
  grid-area: 1 / 3 / 2 / 4;
}
.card4 {
  grid-area: 1 / 4 / 2 / 5;
}
.card5 {
  grid-area: 1 / 5 / 2 / 6;
}
/* Form pengiriman */
.forms {
  display: flex;
  justify-content: center;
  width: 100vw;
}

input {
  margin: 10px;
  width: 45%;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 5px 2px #a7a7a7;
  font-family: "Oswald";
  text-align: center;
}
textarea {
  width: 100%;
  margin: 10px;
  box-shadow: 0px 0px 5px 2px #a3a3a3;
  font-family: "Oswald";
  border-radius: 6px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
form .disable {
  visibility: hidden;
}
.forms button {
  width: 120px;
  height: 40px;
  margin-left: 10px;
  font-family: "Oswald";
  border: none;
  border-radius: 6px;
  background-color: #c9c9c9;
  transition: 300ms;
}
.forms button:hover {
  transform: scale(1.2) translateY(10px);
  box-shadow: 0px 0px 10px 6px rgba(196, 196, 196, 0.9);
}
.alert {
  width: 600px;
  height: 40px;
  background-color: rgb(43, 255, 0);
  margin: auto;
  line-height: 40px;
  border-radius: 6px;
}
/* Footer */
footer {
  width: 100vw;
  height: 255px;
  background-color: rgb(110, 110, 110);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.contactus-flex {
  display: flex;
  justify-content: center;
}
.contact-us {
  width: 10vw;
  display: flex;
  justify-content: space-around;
}
.copyright {
  word-spacing: 4px;
  font-weight: 300;
}
/* svg Waves */
.waves-1 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.path-2 {
  animation: pathAnim-1 4s linear infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 119.14285714285711,274.1071428571429 238.28571428571422,282.2142857142857 373,286 C 507.7142857142858,289.7857142857143 658.0000000000002,289.25 780,289 C 901.9999999999998,288.75 995.7142857142856,288.7857142857143 1101,285 C 1206.2857142857144,281.2142857142857 1323.1428571428573,273.6071428571429 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 114.14285714285714,256.2142857142857 228.28571428571428,246.42857142857142 340,250 C 451.7142857142857,253.57142857142858 560.9999999999999,270.5 689,268 C 817.0000000000001,265.5 963.7142857142858,243.57142857142858 1092,240 C 1220.2857142857142,236.42857142857142 1330.142857142857,251.21428571428572 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 142.85714285714283,262.57142857142856 285.71428571428567,259.14285714285717 417,264 C 548.2857142857143,268.85714285714283 667.9999999999999,282 786,282 C 904.0000000000001,282 1020.2857142857144,268.85714285714283 1129,264 C 1237.7142857142856,259.14285714285717 1338.8571428571427,262.57142857142856 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 86.10714285714286,253.07142857142856 172.21428571428572,240.14285714285714 293,242 C 413.7857142857143,243.85714285714286 569.25,260.5 713,272 C 856.75,283.5 988.7857142857142,289.85714285714283 1108,288 C 1227.2142857142858,286.14285714285717 1333.607142857143,276.07142857142856 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 119.14285714285711,274.1071428571429 238.28571428571422,282.2142857142857 373,286 C 507.7142857142858,289.7857142857143 658.0000000000002,289.25 780,289 C 901.9999999999998,288.75 995.7142857142856,288.7857142857143 1101,285 C 1206.2857142857144,281.2142857142857 1323.1428571428573,273.6071428571429 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
}
.path-3 {
  animation: pathAnim-0 4s linear infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 137.07142857142858,133.39285714285714 274.14285714285717,133.78571428571428 385,134 C 495.85714285714283,134.21428571428572 580.5000000000001,134.25 699,131 C 817.4999999999999,127.75000000000001 969.8571428571427,121.21428571428572 1099,121 C 1228.1428571428573,120.78571428571428 1334.0714285714287,126.89285714285714 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 81.78571428571428,152.60714285714286 163.57142857142856,172.21428571428572 294,157 C 424.42857142857144,141.78571428571428 603.4999999999999,91.75000000000001 753,96 C 902.5000000000001,100.24999999999999 1022.4285714285716,158.78571428571428 1132,174 C 1241.5714285714284,189.21428571428572 1340.7857142857142,161.10714285714286 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 101,108.25 202,83.5 343,99 C 484,114.5 664.9999999999999,170.25000000000003 780,182 C 895.0000000000001,193.74999999999997 944,161.5 1043,146 C 1142,130.5 1291,131.75 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 130.42857142857142,109.60714285714286 260.85714285714283,86.21428571428571 372,97 C 483.14285714285717,107.78571428571429 575.0000000000001,152.75000000000003 707,159 C 838.9999999999999,165.24999999999997 1011.1428571428571,132.78571428571428 1140,122 C 1268.857142857143,111.21428571428572 1354.4285714285716,122.10714285714286 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 137.07142857142858,133.39285714285714 274.14285714285717,133.78571428571428 385,134 C 495.85714285714283,134.21428571428572 580.5000000000001,134.25 699,131 C 817.4999999999999,127.75000000000001 969.8571428571427,121.21428571428572 1099,121 C 1228.1428571428573,120.78571428571428 1334.0714285714287,126.89285714285714 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
}

/* Waves 2 */
.waves-2 {
  position: absolute;
  right: 0;
  left: 0;
  top: 100vh;
  z-index: -1;
}
.path-0 {
  animation: pathAnim-0 4s linear infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 84.65071770334927,152.6267942583732 169.30143540669854,172.25358851674642 262,159 C 354.69856459330146,145.74641148325358 455.444976076555,99.61244019138753 554,105 C 652.555023923445,110.38755980861247 748.9186602870813,167.2966507177034 857,178 C 965.0813397129187,188.7033492822966 1084.8803827751196,153.20095693779905 1184,138 C 1283.1196172248804,122.79904306220097 1361.55980861244,127.89952153110048 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 78.07655502392345,145.04784688995215 156.1531100478469,157.09569377990428 255,146 C 353.8468899521531,134.90430622009572 473.46411483253587,100.66507177033495 575,95 C 676.5358851674641,89.33492822966505 759.9904306220094,112.24401913875596 851,135 C 942.0095693779906,157.75598086124404 1040.5741626794259,180.35885167464113 1140,180 C 1239.4258373205741,179.64114832535887 1339.712918660287,156.32057416267943 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 78.6602870813397,152.86602870813397 157.3205741626794,172.73205741626796 269,171 C 380.6794258373206,169.26794258373204 525.377990430622,145.93779904306217 613,150 C 700.622009569378,154.06220095693783 731.1674641148326,185.51674641148324 813,176 C 894.8325358851674,166.48325358851676 1027.952153110048,115.9952153110048 1141,102 C 1254.047846889952,88.0047846889952 1347.023923444976,110.5023923444976 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 75.73205741626793,131.39234449760767 151.46411483253587,129.7846889952153 261,129 C 370.53588516746413,128.2153110047847 513.8755980861245,128.2535885167464 606,127 C 698.1244019138755,125.7464114832536 739.0334928229664,123.20095693779905 832,118 C 924.9665071770336,112.79904306220095 1069.9904306220096,104.94258373205741 1180,107 C 1290.0095693779904,109.05741626794259 1365.0047846889952,121.02870813397129 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 84.65071770334927,152.6267942583732 169.30143540669854,172.25358851674642 262,159 C 354.69856459330146,145.74641148325358 455.444976076555,99.61244019138753 554,105 C 652.555023923445,110.38755980861247 748.9186602870813,167.2966507177034 857,178 C 965.0813397129187,188.7033492822966 1084.8803827751196,153.20095693779905 1184,138 C 1283.1196172248804,122.79904306220097 1361.55980861244,127.89952153110048 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
}
.path-1 {
  animation: pathAnim-1 4s linear infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 113.4736842105263,251.55980861244018 226.9473684210526,237.1196172248804 309,242 C 391.0526315789474,246.8803827751196 441.68421052631584,271.08133971291863 523,287 C 604.3157894736842,302.91866028708137 716.3157894736842,310.555023923445 835,308 C 953.6842105263158,305.444976076555 1079.0526315789473,292.69856459330146 1181,284 C 1282.9473684210527,275.30143540669854 1361.4736842105262,270.6507177033493 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 85.53110047846889,267.0047846889952 171.06220095693777,268.00956937799043 271,271 C 370.9377990430622,273.99043062200957 485.28229665071785,278.9665071770335 587,288 C 688.7177033492821,297.0334928229665 777.8086124401913,310.1244019138756 875,303 C 972.1913875598087,295.8755980861244 1077.4832535885168,268.53588516746413 1173,259 C 1268.5167464114832,249.46411483253587 1354.2583732057415,257.73205741626793 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 114.57416267942583,284.26794258373207 229.14832535885165,302.53588516746413 323,309 C 416.85167464114835,315.46411483253587 489.98086124401914,310.1244019138756 570,288 C 650.0191387559809,265.8755980861244 736.9282296650717,226.96650717703352 834,227 C 931.0717703349283,227.03349282296648 1038.3062200956938,266.00956937799043 1141,279 C 1243.6937799043062,291.99043062200957 1341.846889952153,278.9952153110048 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 109.866028708134,273.79904306220095 219.732057416268,281.5980861244019 309,281 C 398.267942583732,280.4019138755981 466.9377990430621,271.4066985645933 557,258 C 647.0622009569379,244.5933014354067 758.5167464114834,226.77511961722485 858,240 C 957.4832535885166,253.22488038277515 1044.9952153110048,297.49282296650716 1140,307 C 1235.0047846889952,316.50717703349284 1337.5023923444976,291.2535885167464 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 113.4736842105263,251.55980861244018 226.9473684210526,237.1196172248804 309,242 C 391.0526315789474,246.8803827751196 441.68421052631584,271.08133971291863 523,287 C 604.3157894736842,302.91866028708137 716.3157894736842,310.555023923445 835,308 C 953.6842105263158,305.444976076555 1079.0526315789473,292.69856459330146 1181,284 C 1282.9473684210527,275.30143540669854 1361.4736842105262,270.6507177033493 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
}
/* orange waves */
.orange-waves {
  position: absolute;
  left: -7%;
  width: 110vw;
  height: 400px;
  bottom: -20%;
  z-index: -1;
}
/* Animation for button */
@keyframes buttonUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1395px) {
  .card-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .card5 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .cardname {
    box-shadow: 5px 10px 10px #aaaaaa, -10px -10px 10px #b6b6b6;
  }

  .rounded img {
    width: 60%;
  }
}
@media only screen and (max-width: 923px) {
  .rounded img {
    width: 70%;
  }
  .column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .foto-bu-aul {
    grid-area: 1 / 1 / 2 / 2;
  }
  .text-buaul {
    grid-area: 2 / 1 / 3 / 2;
  }
  .orange-waves {
    bottom: 20%;
  }
  .member {
    margin-top: -180px;
  }
}
@media only screen and (max-width: 1100px) {
  .container-navbar ul {
    justify-content: end;
  }
  .card-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .rounded img {
    margin-top: 20vh;
  }

  .card4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card5 {
    grid-area: 2 / 2 / 3 / 3;
  }
}
@media only screen and (max-width: 815px) {
  .card-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
  .rounded img {
    width: 100%;
  }

  .card3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .card5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .introduce {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .rounded img {
    grid-area: 1 / 1 / 2 / 2;
    width: 60%;
  }
  .text-fill {
    grid-area: 2 / 1 / 3 / 2;
  }
}
@media only screen and (max-width: 670px) {
  form {
    text-align: center;
  }
  input,
  textarea {
    width: 400px;
  }
  .introduce {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 565px) {
  input,
  textarea {
    width: 400px;
  }
  .card-parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .card1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .card2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .card4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .card5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .buAulia {
    padding: 0;
  }
  .buAulia img.foto-bu-aul {
    width: 60%;
    margin-left: -120px;
  }
  .foto-bu-aul {
    text-align: center;
  }
  .text-buaul {
    padding: 20px;
  }
}
